@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: 'Cabinet';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/CabinetGrotesk-Medium.otf');
    }

    @font-face {
        font-family: 'Cabinet';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/CabinetGrotesk-Bold.otf');
    }

    @font-face {
        font-family: 'Cabinet';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url('/fonts/CabinetGrotesk-ExtraBold.otf');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('/fonts/Inter-Light.ttf');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/Inter-Regular.ttf');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/Inter-Medium.ttf');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/Inter-SemiBold.ttf');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/Inter-Bold.ttf');
    }

    html {
        @apply font-inter bg-clr-light-primary text-clr-dark-primary;
    }
    
    .c-container {
        @apply max-w-[1080px] mx-4 lg:mx-auto;
    }

    .c-container-header {
        @apply max-w-[1800px] mx-4 lg:mx-auto;
    }

    .mini-title {
        @apply text-base font-medium text-clr-green-primary;
    }

    .main-title {
        @apply text-3xl lg:text-5xl font-extrabold font-cabinet;
    }
    
}