@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Mochiy';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/Mochiy.ttf');
    }

    @font-face {
        font-family: 'HeyAug';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/HeyAugust.otf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/Poppins-Regular.ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/Poppins-Medium.ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/Poppins-SemiBold.ttf');
    }

    html {
        @apply font-poppins bg-clr-light-primary text-clr-dark-primary;
    }
    
    .c-container {
        @apply max-w-[1440px] mx-4 lg:mx-auto;
    }

    .ctnr-2 {
        @apply max-w-[1020px] mx-4 lg:mx-auto;
    }

    .c-container-header {
        @apply max-w-[1800px] mx-4 lg:mx-auto;
    }

    .mini-title {
        @apply text-xs font-medium text-clr-green-primary bg-clr-light-secondary inline py-2 px-3 border-r-[3px] border-r-clr-green-primary;
    }

    .main-title {
        @apply text-3xl lg:text-5xl;
    }
    
}